@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #7A969B;
  --color-primary: #E87C1E;
  --color-secondary: #575756;
  --background-end-rgb: #E87C1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.color-white {
  color: white !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb) !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}